body {
	width: 90%;
	margin: 0 auto;
	font-size: 15px;
}
#header {
	overflow: auto;
}
.logo1 {
	width: 30%;
	height: 30%
	float: left;
	margin: 1%;
	
}
h1 {
	width: 30%;
	float: left;
	margin: 1%;
	font-family: cursive;
	font-size: 20px;
	color: blue;

}
img.large {
	width: 900px;
	height: 500px;

}
img.small {
	width: 50px;
	height: 50px;
}
#nav {
	margin: 1%
}

.uno {

	width: 900px;
	background-color: #dfffcc;
}
.dos {
	
	width: 900px;
	background-color: #ccf8ff;

}
.tres {
	
	width: 900px;
	background-color: #f8ffcc;
}
.cuatro {
	
	width: 900px;
	background-color: #ffdab9;
}
.cinco {
	
	width: 900px;
	background-color: #c0c0c0;
}
#footer {
	text-align: center;
	font-size: 17px;
	margin: 10px auto 10px auto;
}
.left {
	text-align: left;
	font-size: 15px;
	margin: 10px auto 10px auto;

}












